img {
    width: 300px;
    height: 150px;
    padding: 8px;
    margin: 4px;  

}

footer {
    background-color: rgb(37, 30, 133);
    text-align: center;
    color: oldlace;
    font-size: 20px;
    line-height: 8px;
    margin: 0px;
    padding: 10px;
}

body {
    margin: 20px 10%;
    background-color: #6850eecc;

}

h1 {
    align-items: center;
    text-align: center;
}

.center {
    align-items: center;
    text-align: center;
}